@import url("https://fonts.googleapis.com/css2?family=Asap:wght@600;700&display=swap");

:root {
  --red: #e33640;
  --yellow: #eedc00;
  --pink: #f6bcc2;
  --lightblue: #76c3d4;
  --asap: "Asap", sans-serif;
}
