@import "./mixins";

.build-wrapper {
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
  height: 600px;
  position: relative;
  .img-container {
    width: 50%;

    .slices-img {
      left: 0px;
      position: absolute;
      z-index: 3;
      @include desktop {
        left: 20px;
      }
    }

    .abstract-vector {
      position: absolute;
      top: 40px;
      right: 0px;
      z-index: 2;
    }
  }
  .build-text {
    padding: 100px 0px 0px 0px;
    color: white;
    width: 50%;
    z-index: 3;

    @include desktop {
      width: 50%;
    }
  }
}
