.build-wrapper {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
  height: 600px;
  position: relative;
  .img-container {
    width: 50%;

    .slices-img {
      left: 20px;
      position: absolute;
    }

    .abstract-vector {
      position: absolute;
      top: 40px;
      right: 0px;
      z-index: 2;
    }
  }
  .build-text {
    margin: 200px auto;
    color: white;
    width: 50%;
    z-index: 3;
  }
}
