@import "./mixins";

.dough-wrapper {
  color: var(--lightblue);
  width: 100%;
  height: 700px;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-around;

  @include desktop {
  }

  .dough-text {
    width: 50%;
    margin: 200px auto;
    padding: 30px;
  }

  .dough-images {
    width: 50%;

    .hands-dough-img {
      position: absolute;
      right: 50px;
      z-index: 3;
    }

    .dough-img {
      position: absolute;
      right: 400px;
      top: 100px;
      z-index: 3;
    }
    .abstract-img {
      width: 400px;
      position: absolute;
      top: 10;
      right: 0;
      z-index: 2;
      @include desktop {
        width: 600px;
        position: absolute;
        top: 20;
        right: 0;
        z-index: 2;
      }
    }

    .vector-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
}
