@import "./mixins";

.drag-and-drop-wrapper {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding: 100px 30px 30px 30px;
  text-align: center;
  color: white;
  background-color: var(--red);
  position: relative;

  .pizza-empty-drag {
    width: 250px;
    @include respond(tablet) {
      width: 400px;
    }
    @include respond(desktop) {
      width: 500px;
    }
    @include respond(desktopxl) {
      width: 500px;
    }
  }
  .drag-and-drop-images {
    //Green pepper
    article:nth-child(1) {
      position: absolute;
      left: -40px;
      top: 200px;

      @include respond(tablet) {
        left: 0px;
        top: 300px;
      }
      @include respond(desktop) {
        left: 100px;
        top: 300px;
      }
      @include respond(desktopxl) {
        left: 300px;
        top: 300px;
      }
    }

    //flour
    article:nth-child(2) {
      position: absolute;
      left: 0px;
      top: 350px;

      @include respond(tablet) {
        left: 0px;
        top: 440px;
      }
      @include respond(desktop) {
        left: 150px;
        top: 550px;
      }
      @include respond(desktopxl) {
        left: 300px;
        top: 550px;
      }
    }

    //onions
    article:nth-child(3) {
      position: absolute;
      left: 10px;
      top: 30px;

      @include respond(tablet) {
        left: 300px;
        top: 590px;
      }
      @include respond(desktop) {
        left: 600px;
        top: 590px;
      }
      @include respond(desktopxl) {
        left: 600px;
        top: 700px;
      }
    }

    //basil
    article:nth-child(4) {
      position: absolute;
      right: 80px;
      top: 400px;

      @include respond(tablet) {
        right: 80px;
        top: 500px;
      }
      @include respond(desktop) {
        right: 200px;
        top: 500px;
      }
      @include respond(desktopxl) {
        right: 500px;
        top: 600px;
      }
    }

    //tomato
    article:nth-child(5) {
      position: absolute;
      right: 10px;
      top: 300px;

      @include respond(tablet) {
        right: 20px;
        top: 350px;
      }
      @include respond(desktop) {
        right: 150px;
        top: 400px;
      }
      @include respond(desktopxl) {
        right: 300px;
        top: 500px;
      }
    }

    //chilli pepper
    article:nth-child(6) {
      position: absolute;
      right: 10px;
      top: 150px;

      @include respond(tablet) {
        right: 80px;
        top: 150px;
      }
      @include respond(desktop) {
        right: 200px;
        top: 200px;
      }
      @include respond(desktopxl) {
        right: 300px;
        top: 200px;
      }
    }

    //garlic
    article:nth-child(7) {
      position: absolute;
      right: 40px;
      top: 120px;

      @include respond(tablet) {
        right: 20px;
        top: 220px;
      }
      @include respond(desktop) {
        right: 100px;
        top: 300px;
      }
      @include respond(desktopxl) {
        right: 400px;
        top: 300px;
      }
    }

    //black pepper
    article:nth-child(8) {
      position: absolute;
      left: 20px;
      top: 150px;
      @include respond(tablet) {
        left: 200px;
        top: 550px;
      }
      @include respond(desktop) {
        left: 300px;
        top: 600px;
      }
      @include respond(desktopxl) {
        left: 500px;
        top: 700px;
      }
    }

    //cheese
    article:nth-child(9) {
      position: absolute;
      left: 0px;
      top: 450px;

      @include respond(tablet) {
        left: 0px;
        top: 100px;
      }
      @include respond(desktop) {
        left: 10px;
        top: 400px;
      }
      @include respond(desktopxl) {
        left: 200px;
        top: 400px;
      }
    }

    //peperoni
    article:nth-child(10) {
      position: absolute;
      left: 150px;
      top: 500px;

      @include respond(tablet) {
        left: 150px;
        top: 160px;
      }
      @include respond(desktop) {
        left: 200px;
        top: 180px;
      }
      @include respond(desktopxl) {
        left: 300px;
        top: 180px;
      }
    }

    //carrot
    article:nth-child(11) {
      position: absolute;
      right: 20px;
      top: 450px;

      @include respond(tablet) {
        right: 100px;
        top: 130px;
      }
      @include respond(desktop) {
        right: 200px;
        top: 130px;
      }
      @include respond(desktopxl) {
        right: 400px;
        top: 130px;
      }
    }

    //cheese
    article:nth-child(12) {
      position: absolute;
      right: 30px;
      top: 560px;

      @include respond(tablet) {
        right: 0px;
        top: 600px;
      }
      @include respond(desktop) {
        right: 40px;
        top: 400px;
      }
      @include respond(desktopxl) {
        right: 200px;
        top: 400px;
      }
    }

    //corn
    article:nth-child(13) {
      position: absolute;
      right: 150px;
      top: 400px;

      @include respond(tablet) {
        right: 120px;
        top: 400px;
      }
      @include respond(desktop) {
        right: 100px;
        top: 500px;
      }
      @include respond(desktopxl) {
        right: 200px;
        top: 600px;
      }
    }

    //mushrooms
    article:nth-child(14) {
      position: absolute;
      left: 30px;
      top: 580px;

      @include respond(tablet) {
        left: 30px;
        top: 580px;
      }
      @include respond(desktop) {
        left: 10px;
        top: 200px;
      }
      @include respond(desktopxl) {
        left: 300px;
        top: 700px;
      }
    }

    //tomato sauce
    article:nth-child(15) {
      position: absolute;
      right: 150px;
      top: 600px;
      @include respond(tablet) {
        right: 200px;
        top: 550px;
      }
      @include respond(desktop) {
        left: 20px;
        top: 600px;
      }
      @include respond(desktopxl) {
        left: 450px;
        top: 600px;
      }
    }
  }
}
