.landing-section {
  color: var(--red);
  width: 100%;
  height: 100vh;
  background-image: url(../assets/pizza-slider2.jpeg);
  background-position: center;
  background-size: cover;
  padding: 100px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}
.main-title {
  font-size: 75px;
  display: flex;
  width: 55%;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: var(--asap);
  margin-bottom: 30px;
}

.btn-landing {
  background-color: var(--yellow);
  text-transform: uppercase;
  font-size: 24px;
  padding: 7px 26px;
  display: inline-block;
  border-radius: 6px;
  color: var(--lightblue);
  outline: transparent;
  font-family: var(--asap);
  border: none;
  cursor: pointer;
  width: 200px;
  margin-bottom: 30px;
}

.btn-landing:hover {
  background-color: var(--lightblue);
  color: white;
}

.down-arrow {
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
