@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  // height: 100%;
  // width: 100%;
  box-sizing: border-box;
  font-family: var(--asap);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.lading-down-arrow {
  background: transparent;
  outline: transparent;
  font-size: 50px;
  border: none;
  padding-top: 10px;
  cursor: pointer;
}

.landing-text {
  text-align: center;
  padding-top: 200px;
}
.title-component {
  text-transform: uppercase;
  font-size: 30px;

  @include respond(desktop) {
    font-size: 55px;
    margin-top: 10px;
  }
}
.description-component {
  font-size: 14px;
  color: white;
  line-height: 28px;
 
}

.landing-wrapper {
  color: var(--lightblue);
  min-width: 100%;
  height: auto;
  background-image: url(../assets/pizza-slider4.jpeg);
  background-position: center;
  background-size: cover;
  padding: 100px;
}

footer {
  display: flex;
  height: 80px;
  width: 100%;
  padding: 30px;
  background: var(--yellow);
  color: var(--lightblue);
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  bottom: 0;

  .footer-social-media {
    display: flex;
    flex-direction: row;
    .footer-social-box {
      border: 2px solid var(--lightblue);
      height: 45px;
      width: 45px;
      border-radius: 100%;
      text-align: center;
      padding: 10px;
      margin: 10px;
      &:hover {
        background-color: var(--lightblue);
        color: white;
      }
    }
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding: 20px;
  top: 20px;
  z-index: 101;

  @include respond(desktop) {
    // position: fixed;
    top: 20px;
    z-index: 101;
  }
  .header-menu-options {
    font-family: var(--asap);
    font-weight: lighter;
    width: 100%;
    color: white;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    .header-link-menu {
      cursor: pointer;
      list-style: none;
      position: relative;
      padding: 7px 25px;
      font-size: 23px;
      text-align: center;
      border-radius: 10px;
      &:hover {
        background-color: var(--lightblue);
        font-weight: bold;
      }
    }
  }
}

.btn-component {
  background-color: var(--yellow);
  text-transform: uppercase;
  font-size: 24px;
  padding: 7px 26px;
  display: inline-block;
  border-radius: 6px;
  color: var(--lightblue);
  outline: transparent;
  font-family: var(--asap);
  border: none;
  cursor: pointer;
  width: 200px;
  margin-top: 30px;

  &:hover {
    background-color: white;
    color: var(--lightblue);
  }
}
