:root {
  --red: #ec6669;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-image: linear-gradient(
    to right top,
    #2d2d2d,
    #373737,
    #424141,
    #4d4b4b,
    #585555
  );
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

