:root {
  --red: #e33640;
  --yellow: #eedc00;
  --gray: #a6a5a0;
  --pink: #ef6d6d;
  --black: #1d1c1c;
  --green: #58c485;
  --yellow-transparent: rgba(240, 220, 0, 0.58);
  --lightblue: #76c3d4;
  --lightblue-transparent: RGBA(118, 195, 212, 0.41);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--asap);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.landing-text {
  text-align: center;
  padding-top: 200px;
}
.title-component {
  font-size: 55px;
  margin-top: 10px;
  text-transform: uppercase;
}

.description-component {
  font-size: 14px;
  color: white;
  line-height: 28px;
  margin-bottom: 10px;
  width: 80%;
}

.to-top-btn {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 1000;
  border: 1px solid black;
  background-color: transparent;
}
