@import "./mixins";

.makeyourown-wrapper {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: var(--pink);
  padding-top: 100px;
  z-index: 1;
  text-align: center;

  @include respond(tablet) {
    padding-top: 50px;
  }
  @include respond(desktop) {
    padding-top: 100px;
  }
  @include respond(desktopxl) {
    padding-top: 100px;
  }

  .makeyourown-text {
    color: white;
  }
  .makeyourown-toppings-animation {
    align-content: center;
    display: flex;
    justify-content: center;

    height: 350px;
    position: relative;

    @include respond(tablet) {
      height: 400px;
    }
    @include respond(desktop) {
      height: 600px;
    }
    @include respond(desktopxl) {
      height: 600px;
    }

    div:nth-child(1) {
      position: absolute;

      .pizza-empty {
        width: 300px;
        @include respond(tablet) {
          width: 400px;
        }
        @include respond(desktop) {
          width: 600px;
        }
        @include respond(desktopxl) {
          width: 600px;
        }
      }
    }
    div:nth-child(2) {
      position: absolute;

      .pizza-topping-one {
        width: 300px;
        @include respond(tablet) {
          width: 400px;
        }
        @include respond(desktop) {
          width: 600px;
        }
        @include respond(desktopxl) {
          width: 600px;
        }
      }
    }
    div:nth-child(3) {
      position: absolute;

      .pizza-topping-two {
        width: 300px;
        @include respond(tablet) {
          width: 400px;
        }
        @include respond(desktop) {
          width: 600px;
        }
        @include respond(desktopxl) {
          width: 600px;
        }
      }
    }
    div:nth-child(4) {
      position: absolute;

      .pizza-topping-three {
        width: 300px;
        @include respond(tablet) {
          width: 400px;
        }
        @include respond(desktop) {
          width: 600px;
        }
        @include respond(desktopxl) {
          width: 600px;
        }
      }
    }
  }
  .makeyourown-images {
    width: 50%;

    //green pepper
    article:nth-child(1) {
      position: absolute;
      top: 100px;
      right: 100px;

      @include respond(tablet) {
        top: 200px;
        right: 20px;
      }
      @include respond(desktop) {
        top: 160px;
        right: 200px;
      }
      @include respond(desktopxl) {
        top: 220px;
        right: 100px;
      }
    }

    //flour
    article:nth-child(2) {
      position: absolute;
      top: 300px;
      right: 10px;

      @include respond(tablet) {
        top: 300px;
        right: 300px;
      }
      @include respond(desktop) {
        top: 300px;
        right: 300px;
      }
      @include respond(desktopxl) {
        top: 290px;
        right: 0px;
      }
    }

    //onions
    article:nth-child(3) {
      position: absolute;
      top: 250px;
      right: 100px;

      @include respond(tablet) {
        top: 550px;
        right: 150px;
      }
      @include respond(desktop) {
        top: 500px;
        right: 150px;
      }
      @include respond(desktopxl) {
        top: 500px;
        right: 0px;
      }
    }

    //basil
    article:nth-child(4) {
      position: absolute;
      top: 440px;
      right: 20px;

      @include respond(tablet) {
        top: 420px;
        right: 100px;
      }
      @include respond(desktop) {
        top: 350px;
        right: 100px;
      }
      @include respond(desktopxl) {
        top: 630px;
        right: 50px;
      }
    }

    //tomato
    article:nth-child(5) {
      position: absolute;
      top: 30px;
      right: 20px;

      @include respond(tablet) {
        top: 100px;
      }
      @include respond(desktop) {
        top: 100px;
      }
      @include respond(desktopxl) {
        top: 730px;
        right: 100px;
      }
    }

    //chilli pepper
    article:nth-child(6) {
      position: absolute;
      top: 50px;
      right: 250px;
      // z-index: 3;

      @include respond(desktop) {
        top: 50px;
        right: 400px;
      }
      @include respond(desktopxl) {
        top: 200px;
        right: 600px;
      }
    }

    //garlic
    article:nth-child(7) {
      position: absolute;
      top: 400px;
      right: 150px;

      @include respond(tablet) {
        top: 280px;
        right: 200px;
      }
      @include respond(desktop) {
        top: 280px;
        right: 440px;
      }
      @include respond(desktopxl) {
        top: 250px;
        right: 500px;
      }
    }

    //black pepper
    article:nth-child(8) {
      position: absolute;
      top: 600px;
      right: 50px;

      @include respond(tablet) {
        top: 500px;
        right: 300px;
      }
      @include respond(desktop) {
        top: 500px;
        right: 400px;
      }
      @include respond(desktopxl) {
        top: 400px;
        right: 620px;
      }
    }

    //cheese
    article:nth-child(9) {
      position: absolute;
      top: 500px;
      right: 130px;

      @include respond(tablet) {
        top: 550px;
        right: 300px;
      }
      @include respond(desktop) {
        top: 550px;
        right: 350px;
      }
      @include respond(desktopxl) {
        top: 700px;
        right: 550px;
      }
    }

    //peperoni
    article:nth-child(10) {
      position: absolute;
      top: 100px;
      right: 500px;

      @include respond(tablet) {
        top: 550px;
        right: 500px;
      }
      @include respond(desktop) {
        top: 550px;
        right: 500px;
      }
      @include respond(desktopxl) {
        top: 550px;
        right: 600px;
      }
    }

    //carrot
    article:nth-child(11) {
      position: absolute;
      z-index: 3;
      top: 400px;
      right: 0px;

      @include respond(tablet) {
        top: 340px;
        right: 0px;
      }
      @include respond(desktop) {
        top: 400px;
        right: 0px;
      }
      @include respond(desktopxl) {
        top: 750px;
        right: 230px;
      }
    }

    //cheese
    article:nth-child(12) {
      position: absolute;

      @include respond(tablet) {
      }
      @include respond(desktop) {
      }
      @include respond(desktopxl) {
        top: 840px;
        right: 180px;
      }
    }

    //corn
    article:nth-child(13) {
      position: absolute;

      @include respond(tablet) {
      }
      @include respond(desktop) {
      }
      @include respond(desktopxl) {
        top: 800px;
        right: 380px;
      }
    }

    //mushrooms
    article:nth-child(14) {
      position: absolute;

      @include respond(tablet) {
      }
      @include respond(desktop) {
      }
      @include respond(desktopxl) {
        top: 450px;
        right: 600px;
      }
    }

    //tomato sauce
    article:nth-child(15) {
      position: absolute;

      @include respond(tablet) {
      }
      @include respond(desktop) {
      }
      @include respond(desktopxl) {
        top: 800px;
        right: 450px;
      }
    }
    .makeyourown-blue {
      width: 300px;
      top: 400px;
      right: 10px;
      position: absolute;

      @include respond(tablet) {
        width: 350px;
        top: 300px;
        right: 20px;
      }
      @include respond(desktop) {
        width: 500px;
        top: 100px;
      }
      @include respond(desktopxl) {
        width: 700px;
        top: 200px;
      }
    }
  }
}
