.makeyourown-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--pink);
  display: flex;
  z-index: 1;
}

.makeyourown-text {
  width: 50%;
  height: 100%;
  top: 30px;
}

.makeyourown-title {
  position: absolute;
  z-index: 4;
  padding-top: 200px;
  padding-left: 30px;
  color: var(--lightblue);
}

.makeyourown-images {
  width: 50%;
  height: 100%;
}

article:nth-child(1) {
  position: absolute;
  top: 160px;
  right: 200px;
}

article:nth-child(2) {
  position: absolute;
  top: 300px;
  right: 300px;
}

article:nth-child(3) {
  position: absolute;
  top: 500px;
  right: 150px;
}

article:nth-child(4) {
  position: absolute;
  top: 150px;
  right: 400px;
}

article:nth-child(5) {
  position: absolute;
  top: 100px;
  right: 100px;
}

article:nth-child(6) {
  position: absolute;
  top: 50px;
  right: 700px;
}

article:nth-child(7) {
  position: absolute;
  top: 280px;
  right: 700px;
}

article:nth-child(8) {
  position: absolute;
  top: 500px;
  right: 400px;
}

article:nth-child(9) {
  position: absolute;
  top: 500px;
  left: 100px;
}

.abstract {
  position: absolute;
  width: 600px;
  top: 60px;
  left: 30px;
  z-index: 2;
}
.abstractTwo {
  top: 250px;
  left: 20px;
  z-index: 3;
  position: relative;
}
