.pizzas-section {
  width: 100%;
  height: 100%;
  display: flex;
  height: auto;
}

aside {
  background: var(--yellow);
  width: 30%;
}
.pizza-wrapper {
  padding-top: 100px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.pizza-individual-card {
  width: 33%;
  padding: 20px;
  margin: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: var(--openSans);
  border-radius: 8px;
  color: white;
}

.individual-img {
  height: auto;
}

.text-wrapper {
  width: 100%;
}

.individual-name {
  width: 100%;
  padding-top: 10px;
  color: black;
  font-family: var(--noto);
  font-size: 22px;
}

.individual-price {
  width: 100%;
  color: var(--gray);
}

.btn-addpizza {
  width: 100%;
  outline: transparent;
  border: none;
  border-radius: 100%;

  font-size: 18px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: var(--pink);
  color: white;
}

.special-offer {
  background-color: var(--red);
}
