@import "./mixins";

.pizzalist-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  background-color: var(--lightblue);

  .pizzalist-grid {
    padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    @include respond(tablet) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
    @include respond(desktop) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
    @include respond(desktopxl) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
