.pizzalist-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  height: auto;
  background-color: var(--lightblue);

  aside {
    background: var(--yellow);
    width: 30%;
    color: white;
    padding: 150px 30px 0px 30px;

    .pizzalist-categories-title {
      padding-top: 30px;
    }
    .pizzalist-categories {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .pizzalist-grid {
    padding-top: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-around;
  }
}

/* special offer */

.special-offer-wrapper {
  background-color: var(--red);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 200px;
  .special-img {
    width: 200px;
    margin: auto;
  }

  .special-price {
    color: var(--lightblue);
    font-size: 22px;
  }
  .special-btn {
    background-color: var(--lightblue);
    color: var(--yellow);
    border: none;
    width: 60%;
    margin: 10px auto;
    font-family: var(--asap);
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    outline: transparent;
    height: 50px;
    &:hover {
      background-color: var(--yellow);
      color: var(--lightblue);
    }
  }
}
